.embla {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  padding-left: 10px;
  min-width: 100%;
  position: relative;
}

.embla__parallax {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.embla__parallax__layer {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: transform 0.2s ease-out;
}

.embla__button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  border-radius: 50%;
  color: #1a1a1a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 40px;
  width: 40px;
  padding: 0;
  position: relative;
  transition: background-color 0.2s, opacity 0.2s;
  z-index: 1;
}

.embla__button:hover {
  background-color: white;
}

.embla__button:disabled {
  opacity: 0.3;
  cursor: default;
}

.embla__button__svg {
  width: 40%;
  height: 40%;
}

.embla__dot {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s;
}

.embla__dot:hover {
  opacity: 1;
}

.embla__dot--selected {
  opacity: 1;
}

.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: var(--background-site);
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

.embla__progress {
  justify-self: center;
  transition: opacity 0.3s ease-in-out;
  width: 8rem;
}
.embla__progress--hidden {
  opacity: 0;
}
.embla__progress__bar {
  animation-name: autoplay-progress;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.embla__progress--hidden .embla__progress__bar {
  animation-play-state: paused;
}
@keyframes autoplay-progress {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
